
img {
    width: 200px;
    height: 200px;
}
h1 {
    color: blueviolet;
    text-align: center;
}

body{
    background-color: brown;
}
p{
    font-size:20px ;
    font-weight: 500;
    font-style: italic;
}
.profile_info {
    color: royalblue
}
.profile_description {
    color: yellowgreen
}